/node_modules
/dist
/DEPLOY
/DESIGN
/IDEA
/DOCUMENTS
TODO
.git
.gitignore
.fandogh

/public/articles
!/public/articles/.gitignore

/public/avatars
!/public/avatars/.gitignore

/public/user_files
!/public/user_files/.gitignore