#dev|prod
BUILD_STATE = dev

DOMAIN = localhost:3000
PROTOCOL = http
PORT = 3000

TEMP_FILE_UPLOAD = uploads/
CHAT_MAX_UPLOAD_SIZE = 1048576
CHAT_MAX_UPLOAD_COUNT = 5
CHAT_FILE_UPLOAD_FORMATS = "doc,docx,zip,rar,pdf,png,jpeg,jpg,xls,xlsx"

MONGODB_HOST = 127.0.0.1
MONGODB_PORT = 27017
MONGODB_DATABASE = test
MONGODB_USERNAME = 
MONGODB_PASSWORD = 

MAIL_HOST = ...
MAIL_PORT = ...
MAIL_USERNAME = ...
MAIL_PASSWORD = ...
MAIL_SECURE = false

JWT_SECRET = ...

GOOGLE_LOGIN_CLIENT_ID = ...
GOOGLE_LOGIN_CLIENT_SECRET = ...

ZARINPAL_KEY = test
PAY_IR_KEY = test