@tailwind base;

@import url('./color_palette.css');

@font-face { font-family: 'Roboto'; src: url('../fonts/RobotoRegular.ttf') format('truetype'); }
@font-face { font-family: 'Vazir'; src: url('../fonts/Vazir.ttf') format('truetype'); }
@font-face { font-family: 'IranYekanRegular'; src: url('../fonts/IranYekanRegular.ttf') format('truetype'); }

*::-moz-selection{background: var(--selection-bg-color); color: var(--selection-color);} *::selection{background: var(--selection-bg-color); color: var(--selection-color)};
*::-webkit-scrollbar-track{background-color: transparent; -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,.01); border-radius: 0px;}
*::-webkit-scrollbar{margin-inline-start: .25em; width: 6px; height: 6px; -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,.01); border-radius: 0px;}
*::-webkit-scrollbar-track-piece{background-color: transparent; border-radius: 0px;}
*::-webkit-scrollbar-thumb{background: var(--scroll-thumb-bg-color); border-radius: 0px; -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,.1);}

*,html{
    font-family: 'IranYekanRegular','consolas';
    outline: none !important; border: 0;
    transition: all .15s;
}
html{ width: 99.9vw; }
body{
    font-family: 'IranYekanRegular','consolas';
    max-width: 1920px; margin: 0 auto;
    width: 100%; height: 100vh; overflow-x: hidden;
    display: flex; flex-direction: column;
    background-color: var(--body-bg-color); color: var(--body-color);
    margin: 0; padding: 0;
}
hr{
    border-color: var(--hr-border-color);
}
#app{
    width: 100%; height: 100%; overflow: auto;
    display: flex; flex-direction: column;
}

.fa,.fab,.fad,.fal,.far,.fas{
    min-width: 1rem;
    display: inline-flex !important;
    align-items: center; justify-content: center;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }

/* Auth Template ========================================= */
@import url('./auth.css');

/* Dashboard Template ========================================= */
@import url('./dashboard.css');

/* Dashboard Template ========================================= */
@import url('./web.css');

/* Button ======================================== */
.t_button{
    display: flex; align-items: center; justify-content: center;
    gap: .25rem; font-size: 1rem;
    cursor: pointer; outline: 0;
    box-shadow: 0px 3px 10px -3px var(--button-shadow-color);
    background-color: var(--button-bg-color);
    border-radius: 5px; padding: .5rem;
    border: 2px solid transparent;
    transition: all 0.3s;
}
.t_button:disabled{ opacity: .4; cursor: not-allowed; }
.t_button:hover{
    box-shadow: 0px 5px 15px var(--button-hover-shadow-color);
    background-color: var(--button-hover-bg-color);
}
.t_button > img{
    width: 1rem;
}
.t_button_min{
    padding: .25rem .5rem;
}
/* Button ======================================== */

/* Spacer ======================================== */
.t_spacer{
    display: flex; justify-content: space-around; align-items: center;
    width: 90%; gap: 1rem;
}
.t_spacer > span{ display: inline-block; width: 100%; height: 2px; }
.t_spacer p{ flex-shrink: 0; }
/* Spacer ======================================== */

/* Input ======================================== */
.t_input{
    width: 100%; color: var(--input-color);
    display: flex; flex-direction: column;
}
.t_input.sideway{
    flex-direction: row; flex-wrap: wrap; gap: 1rem;
}
.t_input label{
    font-size: .85rem; margin-bottom: .25rem;
}
.t_input.sideway label{
    width: 7rem; margin-top: .25rem;
}
.t_input .input_group{
    width: 100%; background-color: var(--input-group-bg-color);
    display: flex; justify-content: flex-start; align-items: center; gap: .5rem;
    padding: .35rem; box-shadow: 0px 5px 15px var(--input-group-shadow-color);
    border-radius: 5px; border: 2px solid transparent;
    transition: all .25s ease-out;
}
.t_input .input_group.focus{
    /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25), 0px 0px 1px #a78bfa; */
    border: 2px solid var(--input-group-focus-border-color);
}
.t_input .input_group.disabled{ opacity: .6; }
.t_input .input_group input, .t_input .input_group textarea{
    width: 100%; height: 1.5rem; font-size: .85rem;
    outline: 0; border: 0;
    background-color: transparent;
}
.t_input .input_group textarea{
    min-height: 5rem;
}
/* Input ======================================== */

/* Alert ======================================== */
.t_alert{
    width: 100%;
    display: flex; gap: .25rem;
    align-items: center; border-radius: 5px;
    padding: .25rem; margin-top: .5rem;
    line-height: 1rem;
}
/* Alert ======================================== */

/* Alert ======================================== */
.t_card{
    position: relative;
    display: flex; flex-direction: column;
    border-radius: 5px; margin: .5rem 0;
    background-color: var(--card-bg-color);
}
.t_card_body{
    padding: 1.5rem;
}
.t_card_footer{
    display: flex; margin-top: auto;
    width: 100%; padding: 1.5rem; border-radius: 0 0 5px 5px;
    border-top: 1px solid var(--card-footer-border-top-color);
    background-color: var(--card-footer-bg-color);
}
.t_card_loading{
    display: flex; justify-content: center; align-items: center;
    backdrop-filter: blur(3px);
    position: absolute; top: 0; bottom: 0; right: 0; left: 0;
    z-index: 3; background-color: var(--card-loading-bg-color); text-align: center;
}
.t_card_loading .fa-spin{ padding-top: 6px; }
/* Alert ======================================== */

/* Loading ======================================== */
.t_loading{
    display: flex; justify-content: center; align-items: center;
    position: fixed; top: 0; bottom: 0; right: 0; left: 0;
    z-index: 100; background-color: var(--loading-bg-color); text-align: center;
}
.t_loading .fa-spin{ padding-top: 6px; }
/* Loading ======================================== */

/* Tabs ======================================== */
.t_tabs{
    display: flex; gap: 1rem; padding-bottom: .75rem;
    width: 100%; margin: 1.25rem 0;
    border-bottom: 2px solid var(--tabs-border-bottom-color);
    overflow-x: auto; overflow-y: hidden;
}
.t_tabs a li{
    color: var(--tabs-li-color); white-space: nowrap;
    padding: .25rem .5rem; border-radius: 5px;
}
.t_tabs a li:hover{
    color: var(--tabs-li-hover-color);
}
.t_tabs a.router-link-exact-active li{
    color: var(--tabs-route-exact-active-color);
    /* border-bottom: 2px solid var(--tabs-route-exact-active-border-bottom-color); */
    background-color: var(--tabs-route-exact-active-bg-color); font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}
/* Tabs ======================================== */

/* Tables ======================================== */
.t_table{
    position: relative;
    display: flex; flex-direction: column; gap: .5rem;
    background-color: var(--table-bg-color); border-radius: 5px;
    width: 100%; height: calc(100% - 8rem); padding: .5rem;
}
.t_table table{
    position: relative;
    width: 100%; max-height: 100%; overflow: auto;
    border-collapse: collapse; 
}
.t_table thead{
    position: sticky; top: 0;
}
.t_table thead tr{}
.t_table th{
    position: sticky; top: 0; background-color: var(--table-th-bg-color);
    color: var(--table-th-color); padding: .5rem;
}
.t_table th[sortable="true"]{ cursor: pointer; }
.t_table tbody{
    width: 100%; height: 100%; overflow: auto;
}
.t_table tbody tr:hover{
    transition: all .2s;
    background-color: var(--table-tr-hover-bg-color);
}
.t_table td{
    padding: .5rem; border-bottom: 1px solid var(--table-td-border-bottom-color);
}
.t_table td .title{
    display: none; font-size: .75rem; color: var(--table-title-color);
    margin-inline-end: .5rem;
}

.t_table_pages{ border-color: var(--table-pages-border-color); }

.t_table .avatar{
    width: 2rem; height: 2rem; border-radius: 50%; object-fit: cover;
}

.t_table .t_group_button .list{
    inset-inline-end: 0;
}

.t_table table.card{
    display: flex; flex-direction: column; gap: .5rem;
    height: 100%;
}
.t_table table.card thead tr{
    display: none; flex-direction: column;
    width: max-content; padding: .5rem;
}
.t_table table.card thead th{ border-radius: 5px; padding: .6rem .5rem; }
.t_table table.card tbody{
    display: flex; flex-wrap: wrap; gap: 1rem;
    height: auto; overflow: initial;
}
.t_table table.card tbody tr{
    display: flex; flex-direction: column; overflow: initial;
    width: 240px; flex-grow: 1;
    border-radius: 5px; box-shadow: 0px 2px 15px var(--table-card-tr-shadow-color);
    padding: .5rem; margin: .25rem;
}
.t_table table.card tbody td{}
.t_table table.card tbody .title{ display: inline-block; }

.t_table table.card .t_group_button .list{
    inset-inline-end: initial;
}
/* Tables ======================================== */

/* Select ======================================== */
.t_select{
    width: 100%; color: var(--select-color);
    display: flex; flex-direction: column;
}
.t_select.sideway{
    flex-direction: row; flex-wrap: wrap; gap: 1rem;
}
.t_select label{
    font-size: .85rem; margin-bottom: .25rem;
}
.t_select.sideway label{
    width: 7rem; margin-top: .25rem;
}
.t_select_input{
    display: flex; flex-direction: column;
    width: 100%; z-index: 2;
    position: relative; padding: .5rem;
    background-color: var(--select-input-bg-color); box-shadow: 0px 5px 15px var(--select-input-shadow-color);
    border-radius: 5px; transition: all .25s;   
}
.t_select.open .t_select_input{ z-index: 10; }
.t_select .box{
    height: 1.5rem;
    display: flex; align-items: center; gap: .5rem;
}
.t_select .box::after{
    content: "\f0dd"; font-family: "Font Awesome 5 Pro"; font-size: 1rem;
    color: var(--select-box-arrow-color); margin-inline-start: auto; margin-top: -6px;
}
.t_select .list{
    display: flex; flex-direction: column; gap: .25rem;
    background-color: var(--select-list-bg-color); box-shadow: 0px 5px 15px var(--select-list-shadow-color);
    position: absolute; top: 2.5rem; overflow: auto; border-radius: 5px;
    width: inherit; min-width: max-content; max-height: 10rem; padding: .25rem;
    margin-inline-start: -.35rem;
}
.t_select .list li{ padding: .25rem; border-radius: 5px; cursor: pointer; transition: all .1s; }
.t_select .list li:hover{
    background-color: var(--select-list-li-hover-bg-color);
}
.t_select .list li.selected{
    background-color: var(--select-list-li-selected-bg-color);
    box-shadow: inset 0px 0px 1px 1px var(--select-list-li-selected-shadow-color);
}

.t_search_select input{
    width: 100%; font-size: .85rem;
    outline: 0; border: 0; margin: .125rem 0;
    background-color: transparent;
}
/* Select ======================================== */

/* GroupButtons ======================================== */
.t_group_button{
    display: flex; flex-direction: column;
    max-height: 2.25rem; width: max-content; z-index: 2;
    position: relative;
}
.t_group_button .box{
    display: flex; align-items: center; gap: .5rem;
}
.t_group_button .list{
    display: flex; flex-direction: column;
    border-radius: 5px; z-index: 2; position: absolute; margin-top: 2.5rem;
    background-color: var(--group-button-list-bg-color); box-shadow: 0px 5px 15px var(--group-button-list-shadow-color);
    width: max-content;
}
.t_group_button.open .list{ z-index: 10; }
/* GroupButtons ======================================== */

/* DatePicker ======================================== */
.t_date_picker{
    position: relative
}
.t_date_picker .input_group{
    position: relative;
}
.t_date_picker .picker{
    display: flex; flex-direction: column; gap: .5rem;
    background-color: var(--select-list-bg-color); box-shadow: 0px 5px 15px var(--select-list-shadow-color);
    position: absolute; top: 4rem; overflow: auto; border-radius: 5px;
    width: 100%; min-width: fit-content; padding: .5rem; inset-inline-end: 0;
    margin-inline-start: -.35rem;
}
.t_date_picker .picker span[selected="true"]{
    background-color: theme("colors.primary.500"); color:white;
}
/* DatePicker ======================================== */

/* Dialog ======================================== */
.t_dialog{
    position: fixed; top: 0; right: 0; left: 0; bottom: 0;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    z-index: 100; color: var(--dialog-color); padding: 1rem;
}
.t_dialog .backdrop{
    position: fixed; top: 0; right: 0; left: 0; bottom: 0;
    /* backdrop-filter: blur(3px); */
    background-color: var(--dialog-backdrop-bg-color);
}
.t_dialog > .box{
    min-width: 20rem; margin: 0 1rem;
    padding: 1rem; border-radius: 3px; z-index: 2;
    background-color: var(--dialog-box-bg-color);
    box-shadow: 0px 5px 10px var(--dialog-box-shadow-color);
}
/* Dialog ======================================== */

/* Checkbox ======================================== */
.t_checkbox{}
.t_checkbox input{ display: none; }
/* Checkbox ======================================== */

/* Document Editor ======================================== */
.t_document_editor{}
.t_document_editor ul li{
    display: flex; align-items: center; flex-wrap: wrap; gap: .75rem;
    border-radius: 10px; padding: .5rem 1rem;
}
.t_document_editor .file_select{
    position: relative;
    display: flex; align-items: center; justify-content: center; border-radius: 5px;
    border-style: dashed; border-width: 2px; cursor: pointer;
}
.t_document_editor .file_select input{
    width: 100%; height: 100%; opacity: 0; position: absolute;
}
/* Document Editor ======================================== */

/* Rich Text Editor ======================================== */
.t_rich_editor{
    width: 100%; color: var(--input-color);
    display: flex; flex-direction: column;
}
.t_rich_editor label{
    font-size: .85rem; margin-bottom: .25rem;
}
.t_rich_editor .box{
    width: 100%; min-height: 20rem; background-color: var(--input-group-bg-color);
    padding: .35rem; box-shadow: 0px 5px 15px var(--input-group-shadow-color);
    border-radius: 5px; border: 2px solid transparent;
    transition: all .25s ease-out;
}

.ce-delimiter:before{
    content: "------------------" !important; overflow: hidden;
    line-height: 3rem !important; font-size: 2rem !important;
}
[dir="rtl"] .ce-toolbar__content, [dir="rtl"] .ce-block__content{ width: calc(100% - 100px); max-width: initial; }
[dir="rtl"] .ce-toolbar__settings-btn{ display: flex; justify-content: center; align-items: center; }
[dir="rtl"] .ce-toolbar__plus{ position: relative; float: left; }
[dir="rtl"] .ce-inline-toolbar{ left: initial; right: 0; }
[dir="rtl"] .ce-inline-toolbar.ce-inline-toolbar--showed{ right: initial; }
[dir="rtl"] .ce-toolbox{ left: 0; }
/* .codex-editor__redactor{ padding: 0 !important; } */
.ce-header{ font-weight: bold; }
h1.ce-header{ font-size: 2.5rem; }
h2.ce-header{ font-size: 2rem; }
h3.ce-header{ font-size: 1.5rem; }
h4.ce-header{ font-size: 1.25rem; }
h5.ce-header{ font-size: 1rem; }
h6.ce-header{ font-size: .75rem; }
/* Rich Text Editor ======================================== */

/* Progress Bar ======================================== */
@keyframes progress_bar_gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
.t_progress_bar{}
.t_progress_bar > div{
    background: linear-gradient(135deg, var(--progress-bar-gradient-color-1) 0%, var(--progress-bar-gradient-color-2) 100%);
	background-size: 200% 200%; margin-inline-start: -1px;
	animation: progress_bar_gradient 2s ease infinite;
}
/* Progress Bar ======================================== */

/* Call Controls ======================================== */
.call_controls{
    position: absolute; top: 5rem; left: 1rem;
    border-radius: 5px; z-index: 100; user-select: none;
    box-shadow: 0px 10px 10px -6px var(--article-box-shadow-color);
}
.call_controls button.end_call > i{
    transform: rotate(225deg) !important;
}
/* Call Controls ======================================== */

/* Icon Flip ======================================== */
[dir="rtl"] .fad, [dir="rtl"] .fal, [dir="rtl"] .far, [dir="rtl"] .fas{ transform: rotateY(180deg) !important; }

[dir="rtl"] .fa-check, [dir="rtl"] .fa-check-square, [dir="rtl"] .fa-check-double, [dir="rtl"] .fa-copyright,
[dir="rtl"] .fa-check-circle, [dir="rtl"] .fa-sign-out, [dir="rtl"] .fa-badge-check
{ transform: rotateY(0deg) !important; }

[dir="rtl"] .fa-rotate-90{ transform: rotate(270deg) !important; }
/* Icon Flip ======================================== */

/* Animations ======================================== */
.slidedown-enter-from,.slidedown-leave-to{ opacity: 0; transform: translateY(-30px); }
.slidedown-enter-active,.slidedown-leave-active{ transition: all .3s; }
.slidedown-enter-to,.slidedown-leave-from{ opacity: 1; transform: translateY(0); }

.slideup-enter-from,.slideup-leave-to{ opacity: 0; transform: translateY(30px); }
.slideup-enter-active,.slideup-leave-active{ transition: all .3s; }
.slideup-enter-to,.slideup-leave-from{ opacity: 1; transform: translateY(0); }

.slideright-enter-from{ opacity: 0; transform: translateX(30px); }
.slideright-leave-to{ opacity: 0; transform: translateX(-30px); }
.slideright-enter-active,.slideright-leave-active{ transition: all .5s; }
.slideright-enter-to,.slideright-leave-from{ opacity: 1; transform: translateX(0); }

.slideleft-enter-from,.slideleft-leave-to{ opacity: 0; transform: translateX(30px); }
.slideleft-enter-active,.slideleft-leave-active{ transition: all .5s; }
.slideleft-enter-to,.slideleft-leave-from{ opacity: 1; transform: translateX(0); }

.accordeon-enter-from,.accordeon-leave-to{ opacity: 0; transform: scaleY(0); }
.accordeon-enter-active,.accordeon-leave-active{ transition: all .5s; }
.accordeon-enter-to,.accordeon-leave-from{ opacity: 1; transform: scaleY(1); }

.fade-enter-from,.fade-leave-to{ opacity: 0; }
.fade-enter-active,.fade-leave-active{ transition: all .25s ease; }
.fade-enter-to,.fade-leave-from{ opacity: 1; }

@keyframes jiggle {
    /* 0% { transform: rotate(15deg) }
    40% { transform: rotate(-15deg) }
    100% { transform: rotate(0deg) } */
    
    0%, 100% { transform: rotate(0deg); transform-origin: 50% 50%; }
    10% { transform: rotate(8deg); }
    20%, 40%, 60% { transform: rotate(-10deg); }
    30%, 50%, 70% { transform: rotate(10deg); }
    80% { transform: rotate(-8deg); }
    90% { transform: rotate(8deg); }
}
.jiggle{
    /* animation: jiggle ease-out 1s infinite; */
    animation: jiggle 2s ease-out 0s infinite normal none;
}

@keyframes call_flash {
    0% { box-shadow: inset 0px 0px 40px var(--call-flash-color); }
    100% { box-shadow: inset 0px 0px 0px var(--call-flash-color); }
}
.call_flash{
    animation: call_flash ease-in-out 1s infinite;
}

@tailwind components;
@tailwind utilities;