:root {
    --selection-bg-color: theme("colors.primary.500");
    --selection-color: #fffff0;
    --scroll-thumb-bg-color: theme("colors.secondary.400");

    --body-bg-color: #242424;
    --body-color: theme("colors.gray.200");

    --hr-border-color: theme("colors.gray.600");

    --button-shadow-color: rgba(0, 0, 0, 0.25);
    --button-bg-color: transparent;
    --button-hover-shadow-color: rgba(0, 0, 0, 0.35);
    --button-hover-bg-color: theme("colors.gray.700");

    --input-color: #fff;
    --input-group-bg-color: theme("colors.gray.600");
    --input-group-shadow-color: rgba(0, 0, 0, 0.25);
    --input-group-focus-border-color: theme("colors.primary.300");

    --card-bg-color: theme("colors.truegray.700");
    --card-footer-border-top-color: #343434;
    --card-footer-bg-color: theme("colors.warmgray.700");
    --card-loading-bg-color: #24242477;

    --loading-bg-color: #24242477;

    --tabs-border-bottom-color: #434343;
    --tabs-li-color: #dadada;
    --tabs-li-hover-color: theme("colors.primary.300");
    --tabs-route-exact-active-color: theme("colors.primary.300");
    --tabs-route-exact-active-border-bottom-color: theme("colors.primary.500");
    --tabs-route-exact-active-bg-color: theme("colors.gray.600");

    --table-bg-color: #343434;
    --table-th-bg-color: theme("colors.warmgray.700");
    --table-th-color: #dadada;
    --table-tr-hover-bg-color: #434343;
    --table-td-border-bottom-color: #444;
    --table-title-color: theme("colors.secondary.200");
    --table-pages-border-color: theme("colors.warmgray.700");
    --table-card-tr-shadow-color: rgba(0, 0, 0, 0.25);

    --select-color: #fff;
    --select-input-bg-color: theme("colors.gray.600");
    --select-input-shadow-color: rgba(0, 0, 0, 0.25);
    --select-box-arrow-color: theme("colors.primary.400");
    --select-list-bg-color: #434343;
    --select-list-shadow-color: rgba(0, 0, 0, 0.25);
    --select-list-li-hover-bg-color: #555;
    --select-list-li-selected-bg-color: #555;
    --select-list-li-selected-shadow-color: theme("colors.primary.400");

    --group-button-list-bg-color: #434343;
    --group-button-list-shadow-color: rgba(0, 0, 0, 0.25);

    --dialog-color: #fff;
    --dialog-backdrop-bg-color: rgba(0, 0, 0, 0.25);
    --dialog-box-bg-color: theme("colors.gray.800");
    --dialog-box-shadow-color: rgba(0, 0, 0, 0.25);

    --progress-bar-gradient-color-1: theme("colors.primary.500");
    --progress-bar-gradient-color-2: theme("colors.primary.300");

    --call-flash-color: #2ee674;

    /* ======================================================= */

    --dashboard-template-color: #fff;
    --dashboard-sidemenu-bg-color: #1a1a1a;
    --dashboard-sidemenu-shadow-color: rgba(0, 0, 0, 0.15);
    --dashboard-sidemenu-nav-item-hover-bg-color: #343434;
    --dashboard-sidemenu-nav-item-active-bg-color: #343434;
    --dashboard-sidemenu-nav-item-active-border-start-color: theme("colors.primary.600");
    --dashboard-sidemenu-nav-spacer-border-bottom-color: #464646;
    --dashboard-sidemenu-nav-header-color: #9ca3af;
    --dashboard-sidemenu-nav-group-border-start-color: #555;
    --dashboard-sidemenu-nav-group-open-bg-color: #434343;
    --dashboard-sidemenu-nav-group-after-color: theme("colors.primary.400");

    --dashboard-header-shadow-color: #1a1a1a;
    --dashboard-header-title-alt-color: #efefef;
    --dashboard-header-title-alt-bg-color: #3a3a3a;
    --dashboard-header-profile-open-bg-color: #343434;
    --dashboard-header-profile-open-shadow-color: rgba(0, 0, 0, 0.15);
    --dashboard-header-avatar-shadow-color: rgba(0, 0, 0, 0.25);
    --dashboard-header-avatar-border-color: #464646;
    --dashboard-header-profile-nav-spacer-border-color: #464646;
    --dashboard-header-profile-nav-item-hover-bg-color: #242424;

    --notification-list-bg-color: #343434;
    --notification-list-shadow-color: rgba(0, 0, 0, 0.35);
    --notification-list-li-bg-color: #3a3a3a;
    --notification-list-li-notif-icon-shadow-color: rgb(0, 0, 0, 0.35);

    --message-board-bg-color: #1a1a1a;
    --message-board-shadow-color: rgba(0, 0, 0, 0.15);
    --message-board-color: #fff;
    --message-board-chat-ul-border-color: #3a3a3a;
    --message-board-chat-avatar-shadow-color: rgb(0, 0, 0, 0.35);
    --message-board-message-bubble-sent-bg-color: theme("colors.primary.800");
    --message-board-message-bubble-received-bg-color: #464646;
    --message-board-new-chat-color: #000;

    --dashboard-body-bg-color: theme("colors.truegray.800");

    --dashboard-toast-bg-color: #434343;
    --dashboard-toast-shadow-color: rgba(0, 0, 0, 0.25);

    --dashboard-schedule-title-bg-color: #313131;
    --dashboard-schedule-item-bg-color: #434343;

    /* ======================================================= */

    --auth-header-color: #fff;
    --auth-header-hover-bg-color: theme("colors.primary.400");
    --auth-header-hover-color: #242424;
    --auth-box-bg-color: #343434cc;
    --auth-box-shadow-color: rgba(0, 0, 0, 0.35);

    /* ======================================================= */

    --btn-bg-color: #f4f4f4;
    --btn-color: #3c3c3c;
    --btn-hover-bg-color: #e2e2e2;
    --btn-hover-shadow-color: rgba(0, 0, 0, 0.1);

    --header-wrapper-bg-color: #2f2f2ff1;
    --header-menu-li-line-bg-color: #ccc4b3;

    --main-gradiant-matt-color: #1d1d1d;

    --theme-toggle-shadow-color: rgba(0, 0, 0, 0.45);

    --home-section-one-bg-color: #242424bb;
    --home-section-three-consulter-card-border-color: #efefef;
    --home-section-three-consulter-card-bg-color: #000;
    --home-section-three-consulter-card-hover-bg-color: #f4f4f4;
    --home-section-four-bg-color: #1d1d1daa;

    --article-box-shadow-color: rgba(0, 0, 0, 0.9);

    --select-consult-type-active-color: #645337;

    --profile-menu-li-bg-color: #383838;
    --profile-messages-bg-color: #242424;
    --profile-messages-bubble-sent-bg-color: #efefef;
    --profile-messages-bubble-sent-color:#121212;
    --profile-messages-bubble-received-bg-color: #434343;
    --profile-messages-bubble-received-color: #f9f9f9;
}

[theme="default_dark"] {
    /* default theme is dark */
}

[theme="default_light"] {
    --selection-bg-color: theme("colors.primary.500");
    --selection-color: #fffff0;
    --scroll-thumb-bg-color: theme("colors.secondary.400");

    --body-bg-color: #fff;
    --body-color: theme("colors.gray.800");

    --hr-border-color: theme("colors.gray.300");

    --button-shadow-color: rgba(0, 0, 0, 0.05);
    --button-bg-color: transparent;
    --button-hover-shadow-color: rgba(0, 0, 0, 0.06);
    --button-hover-bg-color: theme("colors.gray.200");

    --input-color: #000;
    --input-group-bg-color: #fff;
    --input-group-shadow-color: rgba(0, 0, 0, 0.05);
    --input-group-focus-border-color: theme("colors.primary.300");

    --card-bg-color: theme("colors.truegray.300");
    --card-footer-border-top-color: #c4c4c4;
    --card-footer-bg-color: theme("colors.warmgray.300");
    --card-loading-bg-color: #e4e4e477;

    --loading-bg-color: #e4e4e477;

    --tabs-border-bottom-color: #c2c2c2;
    --tabs-li-color: #2a2a2a;
    --tabs-li-hover-color: theme("colors.primary.700");
    --tabs-route-exact-active-color: theme("colors.primary.700");
    --tabs-route-exact-active-border-bottom-color: theme("colors.primary.500");
    --tabs-route-exact-active-bg-color: #fff;

    --table-bg-color: #f3f3f3;
    --table-th-bg-color: theme("colors.warmgray.300");
    --table-th-color: #2a2a2a;
    --table-tr-hover-bg-color: #e2e2e2;
    --table-td-border-bottom-color: #ddd;
    --table-title-color: theme("colors.secondary.500");
    --table-pages-border-color: theme("colors.warmgray.300");
    --table-card-tr-shadow-color: rgba(0, 0, 0, 0.05);

    --select-color: #000;
    --select-input-bg-color: #fff;
    --select-input-shadow-color: rgba(0, 0, 0, 0.05);
    --select-box-arrow-color: theme("colors.primary.400");
    --select-list-bg-color: #fafafa;
    --select-list-shadow-color: rgba(0, 0, 0, 0.05);
    --select-list-li-hover-bg-color: #ccc;
    --select-list-li-selected-bg-color: #ccc;
    --select-list-li-selected-shadow-color: theme("colors.primary.400");

    --group-button-list-bg-color: #e3e3e3;
    --group-button-list-shadow-color: rgba(0, 0, 0, 0.05);

    --dialog-color: #000;
    --dialog-backdrop-bg-color: rgba(0, 0, 0, 0.35);
    --dialog-box-bg-color: theme("colors.gray.100");
    --dialog-box-shadow-color: rgba(0, 0, 0, 0.05);

    --progress-bar-gradient-color-1: theme("colors.primary.500");
    --progress-bar-gradient-color-2: theme("colors.primary.300");

    --call-flash-color: #2ee674;

    /* ======================================================= */

    --dashboard-template-color: #000;
    --dashboard-sidemenu-bg-color: #fcfcfc;
    --dashboard-sidemenu-shadow-color: rgba(0, 0, 0, 0.15);
    --dashboard-sidemenu-nav-item-hover-bg-color: #e1e1e1;
    --dashboard-sidemenu-nav-item-active-bg-color: #e1e1e1;
    --dashboard-sidemenu-nav-item-active-border-start-color: theme("colors.primary.600");
    --dashboard-sidemenu-nav-spacer-border-bottom-color: #e1e1e1;
    --dashboard-sidemenu-nav-header-color: #9ca3af;
    --dashboard-sidemenu-nav-group-border-start-color: #999;
    --dashboard-sidemenu-nav-group-open-bg-color: #c2c2c2;
    --dashboard-sidemenu-nav-group-after-color: theme("colors.primary.400");

    --dashboard-header-shadow-color: #eaeaea;
    --dashboard-header-title-alt-color: #000;
    --dashboard-header-title-alt-bg-color: #fff;
    --dashboard-header-profile-open-bg-color: #f3f3f3;
    --dashboard-header-profile-open-shadow-color: rgba(0, 0, 0, 0.15);
    --dashboard-header-avatar-shadow-color: rgba(0, 0, 0, 0.05);
    --dashboard-header-avatar-border-color: #a4a4a4;
    --dashboard-header-profile-nav-spacer-border-color: #a4a4a4;
    --dashboard-header-profile-nav-item-hover-bg-color: #d4d4d4;

    --notification-list-bg-color: #e4e4e4;
    --notification-list-shadow-color: rgba(0, 0, 0, 0.05);
    --notification-list-li-bg-color: #fafafa;
    --notification-list-li-notif-icon-shadow-color: rgb(0, 0, 0, 0.15);

    --message-board-bg-color: #eaeaea;
    --message-board-shadow-color: rgba(0, 0, 0, 0.1);
    --message-board-color: #000;
    --message-board-chat-ul-border-color: #3a3a3a;
    --message-board-chat-avatar-shadow-color: rgb(0, 0, 0, 0.15);
    --message-board-message-bubble-sent-bg-color: theme("colors.primary.400");
    --message-board-message-bubble-received-bg-color: #464646;
    --message-board-new-chat-color: #000;

    --dashboard-body-bg-color: #f8f8f8;

    --dashboard-toast-bg-color: #fff;
    --dashboard-toast-shadow-color: rgba(0, 0, 0, 0.05);

    --dashboard-schedule-title-bg-color: #efefef;
    --dashboard-schedule-item-bg-color: #fff;

    /* ======================================================= */

    --auth-header-color: #000;
    --auth-header-hover-bg-color: theme("colors.primary.400");
    --auth-header-hover-color: #e4e4e4;
    --auth-box-bg-color: #f5f5f5cc;
    --auth-box-shadow-color: rgba(0, 0, 0, 0.03);

    /* ======================================================= */

    --btn-bg-color: #4c4c4c;
    --btn-color: #fff;
    --btn-hover-bg-color: #1c1c1c;
    --btn-hover-shadow-color: rgba(0, 0, 0, 0.1);

    --header-wrapper-bg-color: #fcfcfcf1;
    --header-menu-li-line-bg-color: #eee5d6;

    --main-gradiant-matt-color: #f8f8f8;

    --theme-toggle-shadow-color: rgba(0, 0, 0, 0.25);

    --home-section-one-bg-color: #ffffffbb;
    --home-section-three-consulter-card-border-color: #242424;
    --home-section-three-consulter-card-bg-color: #fff;
    --home-section-three-consulter-card-hover-bg-color: #4c4c4c;
    --home-section-four-bg-color: #f8f8f8aa;

    --article-box-shadow-color: rgba(0, 0, 0, 0.1);

    --select-consult-type-active-color: #f0e2cb;

    --profile-menu-li-bg-color: #f1f1f1;
    --profile-messages-bg-color: #fff;
    --profile-messages-bubble-sent-bg-color: #efefef;
    --profile-messages-bubble-sent-color:#121212;
    --profile-messages-bubble-received-bg-color: #434343;
    --profile-messages-bubble-received-color: #f9f9f9;
}
