@font-face { font-family: 'B-Nazanin'; src: url('../fonts/B-Nazanin.ttf') format('truetype'); }
@font-face { font-family: 'CopperplateGothicLight'; src: url('../fonts/CopperplateGothicLight.ttf') format('truetype'); }
@font-face { font-family: 'Neirizi'; src: url('../fonts/Neirizi.ttf') format('truetype'); }
@font-face { font-family: 'Maktab'; src: url('../fonts/MaktabRita-Regular.woff2') format('woff2'); }

.f-nazanin{ font-family: 'B-Nazanin' !important; }
.f-neirizi{ font-family: 'Neirizi' !important; }
.f-copgoth{ font-family: 'CopperplateGothicLight' !important; }
.f-maktab{ font-family: 'Maktab' !important; }

section{ width: 100%; max-width: 1440px; padding: 1rem; }

h1.f-neirizi::before,h1.f-neirizi::after{
    position: relative;
    content: ""; width: 107%; height: .9rem; display: block; transform: rotate(5deg);
    background-color: var(--header-menu-li-line-bg-color); opacity: .5;
}
h1.f-neirizi::before{ top: 0rem; right: -2rem; }
h1.f-neirizi::after{ top: -2rem; right: -5rem; }

.btn{
    display: flex; align-items: center; justify-content: center;
    gap: .25rem; font-size: 1rem;
    cursor: pointer; outline: 0;
    background-color: var(--btn-bg-color); color: var(--btn-color);
    border-radius: 3px; padding: .5rem 1rem;
    border: 2px solid transparent;
    transition: all 0.3s;
}
.btn:disabled{ opacity: .4; cursor: not-allowed; }
.btn:hover{
    background-color: var(--btn-hover-bg-color);
    box-shadow: 0px 5px 15px -3px var(--btn-hover-shadow-color);
}

.btn.reverse{
    border: 2px solid var(--home-section-three-consulter-card-border-color);
    background-color: var(--home-section-three-consulter-card-bg-color);
    color: var(--home-section-three-consulter-card-border-color);
}
.btn.reverse:hover{
    background-color: var(--home-section-three-consulter-card-hover-bg-color);
    color: var(--home-section-three-consulter-card-bg-color);
}

.heading{
    position: relative;
    display: flex; flex-direction: column; align-items: center; justify-content: center; gap: .5rem;
}
.heading::before{
    content: ""; position: absolute; top: 50%; opacity: .5;
    background-color: var(--header-menu-li-line-bg-color);
    width: 100%; height: .75rem; display: block;
}

.m-gradiant-ttb{
    background: linear-gradient(180deg, var(--main-gradiant-matt-color) 0%, rgba(250, 250, 250, 0) 100%);
}
.m-gradiant-btt{
    background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, var(--main-gradiant-matt-color) 100%);
}

.bg-wrapper{
    background-color: var(--main-gradiant-matt-color);
}

/* Header ======================================================== */
.header_wrapper{
    position: sticky; top: 0; z-index: 11;
    display: flex; align-items: center; justify-content: center;
    width: 100%; background-color: var(--header-wrapper-bg-color);
    /* backdrop-filter: blur(4px); */
}
.header_wrapper header{
    width: 100%; max-width: 1440px;
    padding: 1rem; height: 4.5rem;
}

.logo{ display: flex; align-items: center; gap: .75rem; flex-shrink: 0; }
.logo img{ height: 2.5rem; width: auto; }
.logo span{ font-family: 'Neirizi'; margin-bottom: -7px; }

.header_wrapper header .nav_toggle{}

.header_wrapper header .menu{
    width: 100%; padding: 1rem;
    position: absolute; top: 4.5rem; inset-inline-end: 0;
    background-color: var(--header-wrapper-bg-color); transition: all .3s;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,.1);
}
/* .header_wrapper header .menu.open{ box-shadow: 5px 0px 10px -3px rgba(0,0,0,.1); } */
@media (min-width: 768px) {
    .header_wrapper header .menu{
        display: flex !important; background-color: transparent;
        position: initial; border: 0;
        padding: initial; box-shadow: initial;
    }
}

.header_wrapper header .menu ul li a::after{
    content: ""; display: block; width: 0; height: 3px;
    background-color: var(--header-menu-li-line-bg-color);
    transition: all .3s;
}
.header_wrapper header .menu ul li a:hover::after{ width: 100%; }

.header_wrapper header .avatar{
    position: relative;
}
.header_wrapper header .avatar > span{
    display: inline-block; width: max-content; max-width: 0;
    transition: all 2s; overflow: hidden;
    white-space: nowrap;
}
.header_wrapper header .avatar:hover > span{ max-width: 100vw; }

.theme_toggle{
    width: 1.5rem; height: 1.5rem;
    display: flex; align-items: center; justify-content: center;
    padding: .5rem; border-radius: 50%;
    box-shadow: inset 0px 5px 5px var(--theme-toggle-shadow-color);
}
/* Header ======================================================== */

/* Footer ======================================================== */
.footer_wrapper{
    display: flex; align-items: center; justify-content: center;
    width: 100%; background-color: var(--header-wrapper-bg-color);
}
.footer_wrapper footer{
    width: 100%; max-width: 1440px;
    padding: 2rem 1rem;
}

.footer_wrapper footer nav ul li a::after{
    content: ""; display: block; width: 100%; height: 2px;
    background-color: var(--header-menu-li-line-bg-color);
    margin-top: .25rem; transition: all .3s;
}
/* Footer ======================================================== */

/* Home Sections ======================================================== */
section[name="home-1"] > div{
    background-color: var(--home-section-one-bg-color); z-index: 2;
}

section[name="home-3"] .consulter_card{
    display: flex; flex-direction: column; gap: 1rem;
    align-items: center;
}
section[name="home-3"] .consulter_card .btn{
    border: 2px solid var(--home-section-three-consulter-card-border-color);
    background-color: var(--home-section-three-consulter-card-bg-color);
    color: var(--home-section-three-consulter-card-border-color);
}
section[name="home-3"] .consulter_card .btn:hover{
    background-color: var(--home-section-three-consulter-card-hover-bg-color);
    color: var(--home-section-three-consulter-card-bg-color);
}

section[name="home-4"] > div{
    background-color: var(--home-section-four-bg-color); z-index: 2;
}

section[name="home-5"] .article_box{
    @apply max-w-sm;
    width: 100%; min-width: 20rem;
    display: flex; flex-direction: column; gap: 1rem; padding: 1rem; border-radius: 5px;
    box-shadow: 0px 7px 15px -3px var(--article-box-shadow-color);
}
section[name="home-5"] .article_box img{
    width: 100%; height: 12.5rem; object-fit: cover; border-radius: 5px;
}
section[name="home-5"] .article_box small::before{
    content: ""; display: block; width: 100%; height: 3px;
    position: absolute; bottom: 30%; opacity: .4;
    background-color: var(--header-menu-li-line-bg-color);
}

section[name="home-6"] ul{
    animation: loop 7s infinite linear;
}
section[name="home-6"] ul:hover{ animation-play-state: paused; }
section[name="home-6"] ul li{
    border-radius: 3px;
    background-color: var(--header-wrapper-bg-color);
    border: 1px solid var(--header-menu-li-line-bg-color);
}
@keyframes loop {
    0% { transform: translateX(0); }
    50% { transform: translateX( calc(48rem/6) ); }
    100% { transform: translateX(0); }
}
/* Home Sections ======================================================== */

section[name="blog"] .article_box{
    width: 100%;
    box-shadow: 0px 7px 15px -3px var(--article-box-shadow-color);
}
section[name="blog"] .article_box_skeleton{
    box-shadow: 0px 7px 15px -3px var(--article-box-shadow-color);
    border-radius: 5px; width: 100%; min-height: 10rem;
}
section[name="blog"] .article_box_skeleton div[name="skeleton"], .skeleton{
    background: linear-gradient(90deg, #ffffff22 0%, #cccccc99 50%, #ffffff22 100%);
    background-size: 200% 200%;
    animation: shimmer_skeleton 2s infinite;
}
@keyframes shimmer_skeleton {
    0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

.article_body h1, .article_body h2, .article_body h3, .article_body h4, .article_body h5, .article_body h6{ margin: 1rem 0; margin-top: 2rem; font-weight: bold; }
.article_body p{ line-height: 1.65rem; }
.article_body mark{ background-color: #e2dbc1; padding: 0 .5rem; }
.article_body a{ text-decoration: underline; color: #697dc0; }
.article_body a:hover{ font-weight: bold; }
.article_body ul, .article_body ol{ margin: 1rem 0; padding-right: 1rem; }
.article_body ul li{ list-style: disc; }
.article_body ol li{ list-style: decimal; }
.article_body ul[type="checklist"] li{ list-style: none; }
.article_body ul[type="checklist"] li i{ font-size: 1.2rem; color: #c0b9a1; }
.article_body table{ margin: 1.5rem 0; border-radius: .25rem; width: 100%; border: 2px solid #a49c7b; }
.article_body td{ border: 2px solid #dddddd66; padding: .5rem; }
.article_body div[type="imageTool"]{ display: flex; justify-content: center; width: 100%; }
.article_body div[type="image"]{ display: flex; flex-direction: column; justify-content: center; align-items: center; }
.article_body div[type="image"] div{ width: 100%; border-radius: 3px; z-index: 2; }
.article_body div[type="image"] img{ border-radius: 5px; }
.article_body div[type="image"] .stretched img{ width: 100%; }
.article_body div[type="image"] .with_border img{ border: 2px solid #c0b9a1; }
.article_body div[type="image"] .with_background{ background-color: #dadada44; padding: .5rem; }
.article_body div[type="image"] .with_background img{ width: 75%; box-shadow: 3px 3px 10px rgba(80,80,80,.12); }
.article_body div[type="image"] span{ width: auto; display: inline-block; }

section[name="faq"] .faq_box{
    width: 100%; padding: 1rem; border-radius: 3px;
    box-shadow: 0px 7px 15px -3px var(--article-box-shadow-color);
}
section[name="faq"] .faq_box p{ line-height: 1.75rem; }

section[name="booking-stage-1"] .consulter_card{ max-width: 480px; }

.select_consult_type button, .select_consult_type button:hover{
    background-color: var(--header-wrapper-bg-color); color: var(--btn-bg-color);
}
.select_consult_type button.active, .select_consult_type button.active:hover{
    background-color: var(--btn-bg-color); color: var(--select-consult-type-active-color);
}

.base_shadow{
    box-shadow: 0px 7px 15px -3px var(--article-box-shadow-color);
}

.profile_menu li:hover{ background-color: var(--profile-menu-li-bg-color); }
.profile_menu li.active{
    background-color: var(--profile-menu-li-bg-color);
    box-shadow: 4px 0px 0px 0px #eee5d6;
}

/* Profile Messages ======================================================== */
.profile_messages{
    height: 40rem;
    background-color: var(--profile-messages-bg-color);
}
.profile_messages > div{
    background-color: var(--profile-messages-bg-color);
}

.profile_messages ul[name="message_ul"]{
    display: flex; flex-direction: column; gap: 1rem;
    height: 100%; overflow: auto; overflow-x: hidden;
    scroll-behavior: smooth;
}
.profile_messages ul[name="message_ul"] li{ display: flex; }
.profile_messages ul[name="message_ul"] li .message_bubble{ max-width: 70%; min-width: 210px; padding: .5rem; }

.profile_messages ul[name="message_ul"] li .message_bubble.sent{
    position: relative;
    margin-left: auto; border-radius: 5px 5px 0 5px; border-radius: 5px;
    background-color: var(--profile-messages-bubble-sent-bg-color);
    color: var(--profile-messages-bubble-sent-color);
}
.profile_messages ul[name="message_ul"] li .message_bubble.sent::after{
    position: absolute; font-family: "Font Awesome 5 Duotone"; inset-inline-start: 0px; bottom: -15px;
    display: inline-block; color: var(--profile-messages-bubble-sent-bg-color);
    content: '\f2ec'; transform: rotate(30deg); font-size: 1.5rem;
}

.profile_messages ul[name="message_ul"] li .message_bubble.received{
    position: relative;
    margin-right: auto; border-radius: 5px 5px 5px 0; border-radius: 5px;
    background-color: var(--profile-messages-bubble-received-bg-color);
    color: var(--profile-messages-bubble-received-color);
}
.profile_messages ul[name="message_ul"] li .message_bubble.received::after{
    position: absolute; font-family: "Font Awesome 5 Duotone"; inset-inline-end: 0px; bottom: -15px;
    display: inline-block; color: var(--profile-messages-bubble-received-bg-color);
    content: '\f2ec'; transform: rotate(-30deg); font-size: 1.5rem;
}

.profile_messages ul[name="message_ul"] li .message_bubble.typing{
    width: max-content; min-width: max-content; padding: .1rem .5rem;
}
.profile_messages ul[name="message_ul"] li .message_bubble.typing::after{ bottom: -5px; }
/* Profile Messages ======================================================== */